:root {
  --cor-primaria: #cd2f32;
  --cor-secundaria: #292c31;
  --cor-botao-acao: #292c31;
  --cor-fundo-header: #292c31;
  --cor-letra-menu: #FFF;
}
#redes-sociais li div {
  background-color: #fff;
}
#redes-sociais li div a:after {
  color: var(--cor-primaria);
}
