.sidenav {
  margin-bottom: 0;
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
  font-size: 1.06rem;
  line-height: 1.3;
}
.sidenav a:hover {
  background-color: #f0f0f0;
  text-decoration: none;
}
.sidenav .current {
  position: relative;
  color: #005ea2;
  font-weight: 700;
}
.sidenav .current a:visited {
  color: #005ea2;
}
.sidenav__sublist .current::after {
  display: none;
}
.sidenav a:not(.current) {
  color: #666;
}
.sidenav a {
  display: block;
  padding: 0.5rem 1rem;
  padding-left: 0;
  text-decoration: none;
  font-size: 16px;
  color: #666;
}
.seta-sumario {
  font-size: 13px;
  margin-right: 10px;
}
.sidenav__item {
  border-bottom: 1px dashed #ccc;
}
.sidenav__sublist {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  font-size: 1rem;
}
.sidenav__sublist .sidenav__sublist a {
  padding-left: 1rem;
}
.sidenav__sublist .sidenav__sublist .sidenav__sublist a {
  padding-left: 2rem;
}
